@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Slider Overrides */
.about-us-slider .slick-dots {
  bottom: 15px;
}
.about-us-slider .slick-dots li {
  margin: 0;
}
.about-us-slider .slick-dots li button:before {
  color: var(--color-primary);
  font-size: 10px;
}
.about-us-slider .slick-dots li.slick-active button:before {
  color: var(--color-primary);
}
